
#header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 70px;
  width: 100%;
}

.logo-img {
flex-basis: 5%;
width: 70px;
height: 60px;
}

.logo-name {
  color: MediumAquamarine;
  position: relative;
  top: 10px;
  flex-basis: 75%;
}

.nav {
  flex-basis: 15%;
  position: relative;
  top: 15px;
}

.nav li {
  display: inline-block;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.main {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

/* ---main content--- */
.story-img {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.news-bite {
  font-size: 16px;
  font-weight: bold;
}
.news-link {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news-link p {
  border-bottom: 1px solid black;
  padding: 5px;
}

.main-img {
  background-image: url("../images/img-story-main.png");
  display: flex;
  font-size: 40px;
}

.girl {
  background-image: url("../images/img-story-2.png");
  display: flex;
}

.camera {
  background-image: url("../images/img-story-3.png");
  display: flex;
}

.cats {
  background-image: url("../images/img-story-1.png");
  display: flex;
}
/* ------ */

.nav-footer {
  display: flex;
  justify-content: center;
}

footer {
  background-color: MediumAquamarine;
  height: 325px;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
}

footer h2{
  color: white;
}
